<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chairtrax.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.broadcom.app.ledevicepicker.DevicePickerActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/DevicePickerDialogTheme" >
        </activity>

        <service android:name="com.broadcom.util.SenseManager" >
        </service>

        <activity
            android:name=".RadiusCalibration"
            android:label="@string/title_activity_radius_calibration"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevicePickerDialogTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AxleCalibration"
            android:label="@string/title_activity_axle_calibration"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DevicePickerDialogTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
